<header>
  <div id="logo">
    <h1 id="bigHead">Project: Food</h1>
    <h3 id="subHead"><%= joke %></h3>
  </div>
  <button id="hamburgerbutton"><i class="fas fa-bars fa-lg"></i></button>
</header>
<nav class="hiddennav">
  <ul>
    <a href="/"><li>Home</li></a>
    <a href="/saved"><li>Your Saved Recipes</li></a>
    <a href="/about"><li>About Us</li></a>
    <a href="/login"><li>Login / Signup</li></a>
  </ul>
</nav>