<header>
  <div id="logo">
    <a href="/" id="bigHead">Food Prude</a>
    <h3 id="subHead"><%= joke %></h3>
  </div>
  <button id="hamburgerbutton"><i class="fas fa-bars fa-lg"></i></button>
</header>
<nav class="hiddennav">
  <ul>
    <a href="/"><li>Home</li></a>
    <a href="/saved"><li>Your Cookbook</li></a>
    <a href="/about"><li>About Us</li></a>
    <% if(!cookie) { %>
      <a href="/login"><li>Login / Signup</li></a>
    <% } %>
    <% if(cookie) { %>
      <a href="/logout"><li>Logout</li></a>
    <% } %>
  </ul>
</nav>