<header>
  <h1>Project: Food</h1>
  <h3>The best place to save the best recipes.</h3>
  <nav>
    <ul>
      <a href="index.ejs"><li>Home</li></a>
      <a href="saved.ejs"><li>Your Saved Recipes</li></a>
      <a href="search.ejs"><li>Search Results</li></a>
    </ul>
  </nav>
</header>