<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %>
    <main>
      <section id="andy" class="aboutEach">
        <h2>Andy Fiedler</h2>
        <img src="assets/images/andy.jpg">
        <p>Hey, the name's Andy Fiedler. I worked with elementary age kids for most of my adult life. Though incredibly rewarding emotionally, financially it wasn't sustainable. After trying out Delta V's 101 course I decided coding was something interesting enough to compete with helping kids. It's hard to switch gears and go from being fairly good at something to being a complete noob, but it's been an enjoyable challenge. I can't wait to join this rapidly growing industry.</p>
      </section>
      <section id="schwamman" class="aboutEach">
        <h2>Jon Schwamman</h2>
        <img src="assets/images/schwamman.jpg">
        <p></p>
      </section>
      <section id="struve" class="aboutEach">
        <h2>Jon Struve</h2>
        <img src="assets/images/struve.jpg">
        <p>Before Code 101, I personally had no experience in coding at all, didn't know the name of HTML, CSS, Javascript, anything at all. On top of that, didn't know the difference between any of those either. Since that start, I also took the 102 class, took Kahn Academy courses, and have now almost finished the Code 201 class. My goal for after the 401 class is to become a junior developer for a local business or just a business that has places here. My end goal is to be able to make projects on my own and little apps or inventions that make life easier and better in small, simple ways. I do think these classes have been pushing me towards getting to that point of self creation. I'm not sure how far the other classes will go with making things flow better, but I'm excited to see what it all becomes.</p>
      </section>
      <section id="jacob" class="aboutEach">
        <h2>Jacob Swenson</h2>
        <img src="assets/images/jacob.jpg">
        <p>Hello all, my name is Jacob Swenson and before DeltaV code school I was working as an electrician. After that job I was told about code school and have always wanted to do something with technology. At first I wasn't sure I was going to be able to do this but the more I worked on it the easier it got. I would find myself wanting to work on my code in my off time and was even looking forward to coming to these classes. I've always had that feeling of waking up and just not wanting to go to work and it's very refreshing waking up and looking forward to going to my classes. I'm excited to join this industry and pursue a rewarding career.</p>
      </section>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="/js/app.js"></script>
</html>