<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <link rel="stylesheet" type="text/css" href="/styles/modules/login.css" />
  <body>
    <%- include('../partials/header.ejs') %>
    <main id="sign_in">
      <% if (message) { %>
        <h4 id="error"><%= message %></h4>
      <% } %>
      <form action="/login" method="post">
        <input type="text" id="username" name="username" placeholder="Enter Username" required>
        <input type="submit" class="submit" value="Login">
        <br>
        <a id="sign_up" href="/signup">Register</a>
      </form>
    </main>
    <%- include('../partials/footer-fixed.ejs') %>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/js/app.js"></script>
  </body>
</html>