<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <link rel="stylesheet" type="text/css" href="/styles/modules/login.css" />
  <body>
    <%- include('../partials/header.ejs') %>
    <main id="sign_in">
      <form action="/login" method="post">
        <input type="text" id="username" name="username" placeholder="Enter Username" required>
        <input type="password" id="password" name="password" placeholder="Password"required>
        <div class="checkboxContainer">
          <input type="checkbox" class="checkbox"><label for="checkbox">Keep me logged in</label>
        </div>
        <input type="submit" class="submit" value="Login">
        <br>
        <a id="sign_up" href="/signup">Need to Register</a>
      </form>
    </main>
    <%- include('../partials/footer.ejs') %>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/js/app.js"></script>
  </body>
</html>