/* font-family: 'Nanum Pen Script', cursive;  INGREDIENTS
font-family: 'Barriecito', cursive;  HEADER
font-family: 'Tinos', serif;  TEXT CONTENT */

/*
#384259, #f73859, #7ac7c4, #c4edde
*/

body {
  background-color: #c4edde;
  color: seashell;
  font-family: 'Tinos', serif;
  font-size: 20px;
}

header {
  background-color: #384259;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

footer {
  position: fixed;
  padding: 10px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  color: #c4edde;
  background-color: rgba(247, 56, 89, .8);
  font-size: .8rem;
  line-height: 1.1;
}

h1 {
  font-family: 'Barriecito', cursive;
  font-size: 2.5rem;
  margin-left: 15px;
}

.ingredients {
  font-family: 'Nanum Pen Script', cursive;
}