nav ul {
  text-align: center;
  position: fixed;
  right: 0px;
  width: 35%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(56, 66, 89, .5);
  padding: 5px;
}

button {
  border-radius: 3px;
  border: none;
}

#resultsPage {
  margin-bottom: 75px;
}

main {
  text-align: center;
  box-sizing: border-box;
  width: 90%;
  margin-left: 5%;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  background-color: #7ac7c4;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
}
