
nav ul {
  text-align: center;
  position: fixed;
  right: 0px;
  width: 35%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(56, 66, 89, .5);
  padding: 5px;
}

button {
  border-radius: 3px;
  border: none;
}

main {
  text-align: center;
  box-sizing: border-box;
  width: 90%;
  margin-left: 5%;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 130px;
  background-color: #7ac7c4;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  margin-bottom: 75px;
}

#results{
  line-height: 1.4;
}

#detailsMain{
  text-align: left;
}

.aboutEach {
  padding: 15px;
  margin: 15px 0px 45px 0px;
}

.aboutEach h2 {
  font-size: 2.5rem;
  font-family: 'Sacramento', cursive;
}

.aboutEach p {
  text-align: left;
  padding: 15px;
}