
#subHead {
  margin-left: 15px;
}

#hamburgerbutton {
  width: 30px;
  height: 30px;
  align-self: center;
  margin-right: 15px;
  background-color: rgba(247, 56, 89, .7);
  box-shadow: 0px 0px 3px #c4edde;
}

a {
  text-decoration: none;
  color: seashell;
}

a:hover {
  color: #c4edde;
}

#searchButton {
  background-color: rgba(247, 56, 89, .8);
  padding: 5px;
  color: white;
}

#calRange {
  box-sizing: border-box;
}

#searchButton, #calRange {
  width: 100%;
}

.fas.fa-bars.fa-lg {
  color: seashell;
}

input {
  font-family: inherit;
  font-size: 1rem;
  text-align: center;
  padding: 3px;
}

#searchPage * {
  margin-top: 2px;
}

#results{
  margin: 30px;
}

img{
  margin: 30px auto;
  -webkit-box-shadow: 0px 7px 9px 6px rgba(0,0,0,0.56);
  -moz-box-shadow: 0px 7px 9px 6px rgba(0,0,0,0.56);
  box-shadow: 0px 7px 9px 6px rgba(0,0,0,0.56);
  border-radius: 5px;
  max-width: 312px;
  max-height: 231px;
}
button{
  background-color: rgba(247, 56, 89, .8);
  padding: 5px;
  color: white;
}

#pageTitle{
  font-size: 1.8rem;
}

#recipe-ingredients {
  padding: 10px 15px 5px 50px;
  line-height: 1.08;
  font-family: 'Nanum Brush Script', cursive;
  font-size: 1.4rem;
  color: dimgray;
  background-image: url('../assets/images/paper.PNG');
  border: solid burlywood 5px;
  border-radius: 5px;
  margin: 15px;
}

#recipe-instructions {
  padding: 15px;
  background-color: rgba(0, 0, 0, .12);
  margin: 15px;
}

#recipe-instructions h4 {
  padding: 5px;
  font-size: 1.6rem;
}

.steps {
  padding: 5px;
  border-bottom: solid white 1px;
}

.steps:last-of-type {
  border: none;
}

.steps h5 {
  margin-bottom: 5px;
}

#detailsMain h2 {
  padding: 15px;
  text-align: center;
}
