#subHead {
  margin-left: 15px;
}

#hamburgerbutton {
  width: 30px;
  height: 30px;
  align-self: center;
  margin-right: 15px;
  background-color: rgba(247, 56, 89, .7);
  box-shadow: 0px 0px 3px #c4edde;
}

a {
  text-decoration: none;
  color: seashell;
}

a:hover {
  color: #c4edde;
}

#searchButton {
  background-color: rgba(247, 56, 89, .8);
  padding: 5px;
  color: white;
}

#calRange {
  box-sizing: border-box;
}

#searchButton, #calRange {
  width: 100%;
}

.fas.fa-bars.fa-lg {
  color: seashell;
}

input {
  font-family: inherit;
  font-size: 1rem;
  text-align: center;
  padding: 3px;
}

#searchPage * {
  margin-top: 2px;
}
#results{
  margin: 30px;
}
img{
  margin: 30px auto;
  -webkit-box-shadow: 0px 7px 9px 6px rgba(0,0,0,0.56);
  -moz-box-shadow: 0px 7px 9px 6px rgba(0,0,0,0.56);
  box-shadow: 0px 7px 9px 6px rgba(0,0,0,0.56);
  border-radius: 5px;
  max-width: 312px;
  max-height: 231px;
}
button{
  background-color: rgba(247, 56, 89, .8);
  padding: 5px;
  color: white;
}
#pageTitle{
  font-size: 1.8rem;
}
#detailsMain{
  
}