
#subHead {
  margin-left: 15px;
}

#hamburgerbutton {
  width: 30px;
  height: 30px;
  align-self: center;
  margin-right: 15px;
  background-color: rgba(247, 56, 89, .7);
  box-shadow: 0px 0px 3px #c4edde;
}

a {
  text-decoration: none;
  color: seashell;
}

a:hover {
  color: #c4edde;
}

#calRange {
  box-sizing: border-box;
}

#searchButton, #calRange {
  width: 100%;
}

.fas.fa-bars.fa-lg {
  color: seashell;
}

input {
  font-family: inherit;
  font-size: 1rem;
  text-align: center;
  padding: 3px;
}

#searchPage * {
  margin-top: 2px;
}

#results{
  margin: 30px;
}

img{
  margin: 30px auto;
  -webkit-box-shadow: 0px 7px 9px 6px rgba(0,0,0,0.56);
  -moz-box-shadow: 0px 7px 9px 6px rgba(0,0,0,0.56);
  box-shadow: 0px 7px 9px 6px rgba(0,0,0,0.56);
  border-radius: 5px;
  max-width: 312px;
  max-height: 231px;
}

button {
  background-color: rgba(247, 56, 89, .8);
  padding: 5px;
  color: white;
  width: 100%;
}

input.submit {
  border: none;
  background-color: rgba(247, 56, 89, .8);
  color: white;
  width: 100%;
}

#pageTitle {
  font-size: 1.8rem;
}

#details h4 {
  margin: 5px;
  text-align: center;
}

#recipe-ingredients {
  padding: 23px 15px 5px 50px;
  line-height: .89;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 1.7rem;
  color: black;
  background-image: url('../assets/images/paper.PNG');
  border: solid burlywood 5px;
  border-radius: 5px;
  margin: 15px;
}

#recipe-instructions {
  padding: 15px;
  background-color: rgba(0, 0, 0, .28);
  margin: 15px;
}

#recipe-instructions h4 {
  padding: 5px;
  margin-bottom: 30px;
  font-size: 2.2rem;
}

.steps {
  padding: 5px;
  padding-bottom: 30px;
  margin: 10px 0px 30px 0px;
  border-bottom: solid white 1px;
}

.steps:last-of-type {
  border: none;
}

.steps h5 {
  position: relative;
  display: flex;
  padding: 10px;
  max-width: 30px;
  justify-content: center;
  align-content: center;
  margin-bottom: 10px;
  font-size: 1.7rem;
  background-color: rgba(150, 150, 150, .8);
  border-radius: 50%;
}

.steps p {
  line-height: 1.2;
}

#detailsMain h2 {
  padding: 15px;
  text-align: center;
}

.shoppingListHead {
  font-size: 2.5rem;
}
#random {
  width: 100%;
  margin: 15px 0px 15px 0px;
}